.footer {
  text-align:center;
}

.img-footer{
  width:60px;
  margin:0;
  padding:0;
}

.footer-text a {
  color: $navy;
  text-decoration:none;
  margin-left: 30px;
}

.footer-text a:hover {
  color: #5dd7d7;
}

.footer-icons a{
  font-size: 24px;
  margin-right:20px;
  color: $navy;
  opacity:0.9;
}

.footer-icons a:hover {
  color: #5dd7d7;
}

.logo-text {
  font-family: 'Overpass', sans-serif;
  font-size:20px;
  color: $navy;
}

.footer-icons{
  margin-top:30px;
}

.logo {
  margin:30px 0;
}

/* media queries */
@media (min-width: 992px) {
  .footer {
    display:flex;
    justify-content:space-around;
    align-items:center;
  }

  .footer-text {
    order:1;
    display:flex;
  }

  .logo {
    order: 2;
  }

  .footer-icons {
    margin:0;
    order:3;
  }
}
