// Specific CSS for your home-page

#text-highlighted {
  background-color: rgba(0, 135, 159, 0.5);
  color: white;
  padding: 0px 4px;
  margin-right: 4px;
  border-radius: 2px;
}

#background {
  height: 67vh;
  width: 100%;
  background-size: cover;
  background-position: 0% 18%;
  background-repeat: no-repeat;
  display:flex;
  align-items:flex-end;
  justify-content: center;
}

#header-container {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px 48px;
  border-radius: 16px;
  height: 39%;
  margin-bottom:40px;
}

.pb-3 {
  margin-top: 0px;
}

.boats-button {
  color: white;
  font-size: 24px;
  font-weight: bolder;

  &:hover {
    text-decoration: none;
    color: #5dd7d7;
  }
}

 .search {
  display: flex;
  color: #20515E;
}

  .fly-submit {
    margin-left: 5px;
    background-color: white;
    color: #20515E;
    border: 2px solid light-grey;
    border-radius: 12px;
    font-weight: bolder;

    &:hover {
      text-decoration: none;
      color: #5dd7d7;
    }
  }

  .form-control {
    border-radius: 12px;
    padding: 12px;
    text-decoration: none;
    color: #20515E;
    border: 2px solid white;
    background-color: white;
  }

  .login-container {
    height: 80vh;
  }

/* media queries */

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #background {
    position: relative;
  }

  #header-container {
    padding: 32px 56px;
    border-radius: 16px;
    height: 39%;
    position:absolute;
    top:90px;
    right:135px;
  }
}
