.wrapper {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 8px;
  position: relative;
  height: 75vh;
}

h3 {
  margin: 24px 0px;
}

.form-actions {
  background-color: rgba(77, 90, 180,0.5);
  color: white;
  border-radius: 4px;
  width: fit-content;
  height: 40px;
  margin-top: 16px;

  .btn {
    color: white;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 500px;
}
.form-actions:hover {
  background-color: rgba(77, 90, 180,1);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  background-color: rgba(77, 90, 180, 0.5);
  color: white;
  border-radius: 4px;
  width: fit-content;
  color: white;
  margin-left: 8px;
  padding: 6px 12px;
  height: 40px;
  position: absolute;
  top: 500px;
  left: 120px;
  margin-top: 24px;

  &:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(77, 90, 180,1);
  }
}

.submit-button {
  background-color: rgba(77, 90, 180, 0.5);
  color: white;
  border-radius: 4px;
  width: fit-content;
  color: white;
  padding: 6px 12px;
  height: 40px;
  position: absolute;
  top: 500px;
  left: 0px;
  margin-top: 24px;

  &:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(77, 90, 180,1);
  }
}

h2 {
  margin: 24px 0px;
}

.form-control {
  padding: 8px;
}

input.btn.booking-submit {
  position: absolute;
  bottom: 210px;
  background-color: rgba(77, 90, 180, 0.5);
  border-radius: 4px;

  &:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(77, 90, 180,1);
  }
}

.booking-error {
  background-color: rgba(253, 16, 21, 0.3);
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  margin: 16px 0px;
}
