.wrapper {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 8px;
  height: 600px;
  overflow: scroll;
  position: relative;
}

.form-actions {
  background-color: rgba(77, 90, 180,0.5);
  color: white;
  border-radius: 4px;
  width: fit-content;
  height: 40px;

  .btn {
    color: white;
  }
}

.form-actions:hover {
  background-color: rgba(77, 90, 180,1);
}

.button-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.back-button {
  background-color: rgba(77, 90, 180, 0.5);
  color: white;
  border-radius: 4px;
  width: fit-content;
  color: white;
  margin-left: 8px;
  padding: 6px 12px;
  height: 40px;
  position: absolute;
  top: 8px;
  right: 0px;

  &:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(77, 90, 180,1);
  }
}
