.wrapper {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 8px;
  height: 600px;
  overflow: visible;
  position: relative;
}

h3 {
  margin: 24px 0px;
}

.form-actions {
  background-color: rgba(77, 90, 180,0.5);
  color: white;
  border-radius: 4px;
  width: fit-content;
  height: 40px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 500px;
}
.form-actions:hover {
  background-color: rgba(77, 90, 180,1);
}

a.back-button {
  background-color: rgba(77, 90, 180, 0.5);
  color: white;
  border-radius: 4px;
  width: fit-content;
  color: white;
  margin-left: 8px;
  padding: 6px 12px;
  height: 40px;
  position: absolute;
  top: 500px;
  left: 120px;

  &:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(77, 90, 180,1);
  }
}

.submit-button {
  background-color: rgba(77, 90, 180, 0.5);
  color: white;
  border-radius: 4px;
  width: fit-content;
  color: white;
  margin-left: 0px;
  padding: 6px 12px;
  height: 40px;
  position: absolute;
  top: 500px;
  left: 0px;

  &:hover {
    color: white;
    text-decoration: none;
    background-color: rgba(77, 90, 180,1);
  }
}
