.back-button-show {
  background-color: rgba(77, 90, 180,0.5);

  &:hover {
    background-color: rgba(77, 90, 180,1);
  }
}

.back-button-link-show {
  color: white;

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.star-show {
  color:$yellow;
}

.star-show lightgray {
  color:lightgray;
}
// .carousel .item {
//   height: 500px;
// }

// .item img {
//     position: absolute;
//     object-fit:cover;
//     top: 0;
//     left: 0;
//     min-height: 500px;
// }
