<hr>
<div class="footer">
  <div class="footer-text">
    <a href="#"><p>About</p></a>
    <a href="#"><p>Team</p></a>
    <a href="#"><p>Contact</p></a>
  </div>
  <div class="footer-icons">
    <a href="#"><i class="fab fa-instagram icons-footer"></i></a>
    <a href="#"><i class="fab fa-facebook-square icons-footer"></i></a>
    <a href="#"><i class="fab fa-twitter-square icons-footer"></i></a>
  </div>
  <div class="logo">
    <h5 class="logo-text"><%= image_tag "logo-anchor.png", class:"img-footer" %> Rent a boat</h5>
  </div>
</div>
