<div class="footer">
<hr />
  <div class="footer-layout">
    <div class="footer-text">
      <p>About</p>
      <p>Team</p>
      <p>Contact</p>
    </div>
    <div class="footer-icons">
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-square"></i>
    </div>
  </div>
</div>
