<hr>
<div class="footer my-5 d-flex flex-column">
  <div class="d-flex justify-content-between">
    <div class="footer-text d-flex align-items-center">
      <a href="#"><p>About</p></a>
      <a href="#"><p>Team</p></a>
      <a href="#"><p>Contact</p></a>
    </div>
      <div class="footer-icons">
      <a href="#"><i class="fab fa-instagram icons-footer"></i></a>
      <a href="#"><i class="fab fa-facebook-square icons-footer"></i></a>
      <a href="#"><i class="fab fa-twitter-square icons-footer"></i></a>
    </div>
</div>
    <div class="logo text-center">
      <h5 class="logo-text"><%= image_tag "logo-anchor.png", class:"img-footer" %> Rent a boat</h5>
    </div>
</div>
