<div id="background" style="background-image: linear-gradient(rgba(50,50,50,0.3),rgba(50,50,50,0.3)), url(<%= asset_path('home_page.jpeg')%>);">
  <div id="header-container">
    <h2>Where are you going?</h2>
  </div>
</div>
<div class="container">
  <h3><span id="text-highlighted">Easily</span>book a boat for your next trip</h3>
  <p>At Rent-a-boat you can choose between different types of boats. Simply indicate where and when you are planning your trip. Browse through the large selection of boats now and find your dream boat!</p>
</div>
<%= render 'shared/footer' %>
